# *.pt
*.h5
*.pkl
# *.npz
*.log
*.txt
# temp*
# # thirdparty*
# evo*
*.so
checkpoints/*
*.zip
dataset/KITTI*
dataset/kitti*
*.pyc
# thirdparty/in3d/thirdparty/pyimgui/doc/source/visual_examples/*
thirdparty/in3d/thirdparty/pyimgui/doc/source/visual_examples/*